.side button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.side button:hover {
  background-color: #ddd;
}

.side button.active {
  background-color: #ccc;
}
